<h1>All People</h1>

<% if @people.any? %>
 <ul>
   <% @people.each do |person| %>
   	<% if person != Person.user %>
     	<li>
      	<%= link_to person.name, person_path(person) %>
     	</li>
   	<% end %>
   <% end %>
 </ul>

<% else %>
  <p> Nobody is here, create a person: </p>
  
<% end %>
