<h1> <%= @person.name %> - All Hobbies </h1>

<% if @hobbies.any? %>
  <!-- loop the Hobbies and display them -->
  <ul>
    <% @hobbies.each do |hobbies| %>
      <li class='car-info-text'> <%= car.info %> - <%= link_to 'Show', person_car_path(@person, car) %> </li>
    <% end %>
  </ul>
<% else %>
  <!-- display no hobbies message -->
  <h3>No hobbies, Please Create One.</h3>
<% end %>

<%= link_to 'New Hobbies', new_person_hobby_path(@person) %>
