<h1><%= @person.name%>'s Address is:</h1>

<% if @address.blank? %>

  <h3> <%= @address.city %> </h3>
<% else %>
  <h3> No address. Please add an address </h3>
  <%= link_to 'Add Address', new_person_address_path(@person) %>
<% end %>
