/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  color: black;
}

a {color: black; }
a:visited { text-decoration: none; }
/*a:hover { text-decoration: none; }*/
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

body {
  background-color: lightpink;
  text-align: center;
  float: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: lightblue;
  width: 100%;
  height: 4%;
  font-size: 24px;
}
